@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Corey's Knick Knacks</h1>
    <p>Click CKK.Online to view our products and services.</p>
</div>
